*.fastq
*.fq
*.bam
*.sam
*.log
*.gz
__pycache__/
.DS_Store
*.rds
*.rda
.Rhistory
.Rproj.user/
.env
# Snakemake internals
*.snakemake/

# Conda envs
*.snakemake/conda/
.env/

# Logs
logs/
*.log

# Output
data/trimmed/
data/star/
data/salmon/
results/

# Editors & system

*.swp

.snakemake/
